@import "tailwindcss";

@theme {
  --color-golozin-primary: #5F4B8B;
  --color-golozin-secondary: #E69A8D;
  --color-golozin-accent: #111827;
  --color-golozin-light: #F9FAFB;
  --color-golozin-dark: #000000;
  --color-golozin-muted: #374151;
  --font-sans: var(--font-poppins);
  --font-inter: var(--font-inter);
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-golozin-secondary);
  color: var(--color-golozin-dark);
}

@keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-15px); }
  100% { transform: translateY(0px); }
}

.animate-float { animation: float 6s ease-in-out infinite; }
.animate-float-delayed { animation: float 7s ease-in-out infinite 1.5s; }
.animate-float-fast { animation: float 5s ease-in-out infinite 0.5s; }

@keyframes marquee-lr {
  0% { transform: translateX(-50%); }
  100% { transform: translateX(0%); }
}

.animate-marquee-lr {
  animation: marquee-lr 70s linear infinite;
}

